#section-1 {
    height: 25vh;
    background-color: white;
    border-width: 5px;
    border-style: solid;
    border-color:black;
    margin: 20px;
    padding: 10px;


}
#square-one {
    background-color:blueviolet;
    height: 150px;
    width: 50px;
    margin-top: 90px;
    display: inline-block;


}
#square-two {
    background-color: green;
    height: 200px;
    width: 500px;
    display: inline-block;
    margin: 0 50px;

    
}
#section-2 {
    height: 25vh;
    border-color:black;
    border-style:dotted;
    border-width: 5px;
    margin: 20px;

}
#section-3 {
    background-color: white;
    height: 25vh;
    width: 40%;
    margin:auto;
    padding: 50px;
    border: 1px solid gray;
    box-shadow: 3px, 3px, 5px,0px black;
    
}

h1 {
    width: 100%;
    text-align: center;
    letter-spacing: 10px;
    vertical-align: middle;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
    color: navy;
    margin-top: 80px;
}